<div>
<v-row justify="center">

    <v-dialog v-model="dialog" max-width="600px">
      <template v-slot:activator="{ on, attrs }">

          <v-btn color="primary" v-bind="attrs" v-on="on" icon>
          <v-icon>mdi-plus-circle-outline</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title>
          <span class="headline">{{getTitle}} Goal</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
                <v-col cols="12" sm="6" md="4">
                <v-text-field
                    v-model="dialogContent.goalName"
                    label="Goal Name"
                  required
                ></v-text-field>
              </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-text-field
                    v-model="dialogContent.goalValue"
                      label="Goal Value"
                      required
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                <v-autocomplete
                  v-model="dialogContent.goalType"
                  :items="goalTypes"
                  item-text="name"
                  label="Goal Type"
                        return-object
                ></v-autocomplete>
              </v-col>
                <v-col cols="12" sm="6" md="4">
                <v-menu
                    v-model="startDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="dialogContent.startDate"
                        label="Start Date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                            v-model="dialogContent.startDate"
                        @input="startDateMenu = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                <v-menu
        v-model="endDateMenu"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="dialogContent.dueDate"
            label="Due Date"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
                v-model="dialogContent.dueDate"
          @input="endDateMenu = false"
        ></v-date-picker>
      </v-menu>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="resetGoal(); dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="setGoal(); dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>

      <div v-for="(item, index) in getGoals">
      <div>{{item.goalName}}</div>
    <v-progress-linear
      :value="item.calculatedPercent"
      color="amber"
      height="25"
      @click="onClick(index)"
    >
      <strong>{{ Math.ceil(item.calculatedPercent) }}%; days left {{ item.dateDiff }}</strong>
    </v-progress-linear>
    </div>
</div>
